*{
   margin: 0;
   padding: 0; 
   
}
.button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
    background:#262626;
    color: white;
    border: 0;
    border-radius: 5px;
    
}
.button:hover{
    background: #d9d9d9;
    color: black;
}
.textview{
    width: 245px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background: #404040;
    color: white;
    
    
}

.calculatorDiv{
    position: absolute;
    width: 265px;
    height: 403px;
    top: 130px;
    left: 510px;
    border: 5px solid salmon;
    background: gray;
}
.mainDiv{
    position: relative;
    background :whitesmoke ;
    width: 1300;
    height: 658px;
    

}